.button-visibility {
  width: 6rem;
  height: 6rem;

  border-radius: 50%;

  position: fixed;
  bottom: 1rem;
  left: 1rem;

  border: 1px solid bisque;

  background-color: transparent;

  opacity: 0.2;

  transition: all 0.3s linear;

  cursor: pointer;

  padding: 0;
  outline: 0;

  box-sizing: border-box;

  overflow: hidden;

  z-index: 999999;
}

.button-visibility:hover {
  transform: translateY(-0.5rem);

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);

  opacity: 1;
}

.button-visibility:active {
  transform: translateY(0);

  box-shadow: none;

  opacity: 1;
}

.button-visibility svg {
  width: 100%;
  height: 100%;

  fill: goldenrod;
}

.dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgb(40, 40, 43);

  display: flex;
  flex-direction: column;
  /* equivalent to: min-content 1fr */

  justify-content: flex-start;

  overflow: hidden;

  z-index: 999999;
}

.dashboard *,
.dashboard *::before,
.dashboard *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.dashboard-icon {
  display: block;

  width: 3rem;
  height: 3rem;

  border-radius: 50%;

  background-color: transparent;

  cursor: pointer;

  transition: all 0.3s linear;

  padding: 0;
  outline: 0;

  overflow: hidden;

  /* fill: goldenrod; */
  fill: rgba(255, 255, 255, 0.5);

  opacity: 0.5;
}

.dashboard-icon:hover {
  transform: translateY(-0.5rem);

  box-shadow: 0 0.5rem 1rem black;

  opacity: 1;
}

.dashboard-icon:active {
  transform: translateY(0);

  box-shadow: none;

  opacity: 1;
}

.dashboard-action-success {
  margin-left: 1rem;

  color: green;
}

.dashboard-icon-enabled,
.dashboard-icon-disabled:hover,
.dashboard-icon-disabled:active {
  fill: green;
}

.dashboard-icon-disabled,
.dashboard-icon-enabled:hover,
.dashboard-icon-enabled:active {
  fill: red;
}

.dashboard-main-actions {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1.6rem;
}

.dashboard-main-actions > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.6rem;
}

.dashboard-status-font {
  font-size: 2rem;
  font-weight: 600;
  /* color: goldenrod; */
  color: rgba(255, 255, 255, 0.5);

  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}

.dashboard-status {
  position: absolute;
  top: 1.6rem;
  left: 50%;

  transform: translateX(-50%);
}

.dashboard-status-processing {
  margin-left: 1rem;
}

.dashboard-status-processing > * {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}

.dashboard-visualization {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  overflow: hidden;
}

.dashboard-visualization-logs {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  padding: 1.6rem;
}

.dashboard-visualization-logs input {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(180, 180, 255);

  padding: 0.5rem 1rem 0.5rem 1rem;

  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  background-color: transparent;

  transition: all 0.3s linear;

  margin-bottom: 1.6rem;
}

.dashboard-visualization-logs input:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.5rem 1rem black;
}

.dashboard-visualization-logs input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.5rem 1rem black;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.dashboard-visualization-logs-wrapper {
  width: 100%;
  height: 100%;

  background-color: transparent;

  overflow-x: hidden;
  overflow-y: auto;

  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  background-color: transparent;

  transition: all 0.3s linear;

  padding: 1.6rem;
}

.dashboard-visualization-logs-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.5rem 1rem black;
}

.dashboard-visualization-logs-list {
  width: 100%;
  height: 100%;

  padding: 0;
  outline: 0;
}

.dashboard-visualization-logs-list-item {
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  padding: 0.5rem;

  color: rgba(255, 255, 255, 0.4);
  font-size: 1.6rem;

  transition: all 0.3s linear;
}

.dashboard-visualization-logs-list-item:hover,
.selected-log {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;

  box-shadow: 0 0.5rem 1rem black;

  cursor: pointer;
}

.dashboard-visualization-logs-list-item:active {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;

  box-shadow: none;

  cursor: pointer;
}

.dashboard-visualization-logs-list-item-wrapper {
  padding: 0 1.6rem;
}

.dashboard-visualization-logs-list-item-description {
  width: 100%;
  margin-right: 1.6rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.dashboard-visualization-log {
  width: 50%;
  height: 100%;

  position: relative;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  /* Make first min content and allocate remaining to the second */
  flex: 1;
}

.dashboard-visualization-log-heading {
  width: 100%;

  display: flex;
  flex-direction: column;
  max-height: min-content;
}

.dashboard-visualization-log-heading-titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 1.6rem;
}

.dashboard-visualization-log-heading-titlebar-actions {
  display: flex;
  flex-direction: row;

  padding: 1.6rem;

  gap: 1.6rem;
}

.dashboard-visualization-log-title {
  position: relative;
  color: rgba(255, 255, 255, 0.75);
  font-size: 2.2rem;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
  padding: 1.6rem;
}

.dashboard-visualization-log-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
  padding: 1.6rem;
  padding-top: 0;
  transform: translateY(-0.5rem);
}

.dashboard-is-filtering {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-data-visualizer-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 1.6rem;

  overflow: hidden;
}

.dashboard-data-visualizer-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 1.6rem;

  border: 1px solid rgba(255, 255, 255, 0.05);

  border-radius: 0.5rem;

  background-color: transparent;

  transition: all 0.3s linear;

  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);

  overflow: auto;
}

.dashboard-data-visualizer-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0.5rem 1rem black;

  color: white;
}

.data-visualizer-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  grid-gap: 0.5rem;
}

.data-visualizer-col {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;

  grid-gap: 0.5rem;
}

.data-visualizer-collapse-content {
  padding-left: 4ch;
}

.data-visualizer-name {
  color: rgb(130, 155, 230);

  transition: all 0.3s linear;
}

/* .dashboard-data-visualizer-wrapper:hover .data-visualizer-name {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
} */
